<?php

include_once('./includes/cache.inc');
include_once('./sites/all/modules/contrib/memcache/memcache.inc');
$conf['cache_default_class'] = 'MemCacheDrupal';
$conf['cache_class_cache_form'] = 'DrupalDatabaseCache';

$conf['memcache_servers'] = array(
   '127.0.0.1:11211' => 'default',
);

{% if webvision_db_user is defined %}
$databases['{{ webvision_db_name }}'] = array(
  'default' => array(
    'database' => 'webvision',
    'username' => '{{ webvision_db_user }}',
    'password' => '{{ webvision_db_pass }}',
    'host' => '{{ webvision_db_host }}',
    'port' => '',
    'driver' => 'mysql',
    'prefix' => false,
  ),
);
{% endif %}
